<div class="container">
  <div id="new-post">
    <div id="avatar"></div>
    <%= link_to new_post_path do %>
      What's on your mind?
    <% end %>
  </div>
    <% @posts.each do |post| %>
      <div class="section">
        <div id="avatar"></div>
        <p>Kitty TheCat</p>
        <p><%= post.created_at %></p>
        <p><%= post.message %></p>
        <%= image_tag("winking-cat.jpg", :alt => "image of my cat") %>
      </div>
    <% end %>
  </div>
</div>
