/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body {
  background-image: url('GemJunkiesPostPageV2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.navbar {
  background-color: #FBCBF0;
}

.fa-plus, .fa-home {
  color: rgb(102, 102, 102);
  font-size: 110%;
}

.fa-plus:hover, .fa-home:hover {
  color: #99F4F4;
  font-size: 110%;
}

#logout-btn {
  background-color: white;
}
#logout-btn:hover {
  color: #f3a9e2;
}

#gem-junkies-brand {
  font-family: 'Lobster', cursive;
  font-size: 110%;
}

/* posts */
/* TODO: move into separate css file */

#post-section {
  background-color: #d0f4de;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 3.3rem;
  margin-top: 1.2rem;
  height: 200px;
}
#new-post {
  background-color: white;
  padding: 0;
}
#post-link {
  background-color: white;
  height: 3rem;
  border-radius: 15px;
  display: flex;
  height: 150px;
}
#avatar {
  background-image: url('GemJunkiesDefaultAvatar.png');
  background-size: cover;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
#post-container {
  background-color: #99F4F4;
  border-bottom: 2px solid #62ecec;
}

#user-name {
  font-size: 95%;
  font-weight: 450;
}

#created-at {
  font-size: 70%;
}

#post-details {
  background-color: rgb(213, 221, 228);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.message-and-photo {
  background-color: rgb(226, 235, 243);
  text-align: center;
  font-size: 85%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.comments-section {
  background-color: rgb(213, 221, 228);
  border-top: 3px solid white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  text-align: left;
  font-size: 85%;
}

.individual-comment {
  background-color: white;
  border-radius: 50px;
}

.likes-section {
  background-color: white;
  border-top: 2px solid #99F4F4;
  border-bottom: 2px solid #99F4F4;
  justify-content: right;
}

.likes-count { 
  justify-content: left;
}

.post-card {
  background-color: white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

/* sign-in */

#middle-column {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
h2 {
  font-family: 'Lobster', cursive;
}
.field {
  background-color: #62ecec;
  border-radius: 15px;
}

/* sign-up */

.sign-up-middle{
  background-color: #fff;
}

.centered{
  text-align: center;
}

/* create posts */

.create-post {
  margin-top: 8em; 
}
#form-container {
  padding: 2em;
  text-align: center;
}
#text-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
  padding: 1em;
  text-align: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  text-align: center;
}
.form-control::-webkit-file-upload-button{
  /* display: none; */
  background-color: white;
  border: none;
  border-radius: 15px;
  width: 7.5em;
  height: 2.4em;
  margin: 1.2em;
  font-weight: 500;
}
#post-btn-container {
  display: flex;
  justify-content: center;
}
.message-img-labels {
  font-weight: bold;
}
.text-area {
  width: 80%;
  height: 5em;
  border-radius: 10px;
  padding: 0.6em;
}