/* 
#post-section {
  background-color: #d0f4de;
  display: flex;
}
#new-post {
  background-color: white;
  padding: 0;
}
#post-link {
  background-color: white;
  height: 3rem;
  border-radius: 15px;
  display: flex;
}
#avatar {
  background-image: url('RubyJunkiesAvatar.png');
  background-size: cover;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
#post-container {
  background-color: #99F4F4;
}

#user-name {
  font-size: 95%;
  font-weight: 450;
}

#created-at {
  font-size: 70%;
}

#post-details {
  background-color: rgb(213, 221, 228);
  border-radius: 50px;
} */

.img-attached {
  max-width: 200px;
  width: 100%;
  border-radius:20px;
}